html {
    font-family: sans-serif;
}

table {
    border: 2px solid black;
}

th {
    border: 1px solid #dc3545;
    background-color: #dc3545;
    color: white;
    padding: 5px;
    font-family: serif;
}

td {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}

.shortTable {
    width: 900px;
}

.regTable {
    width: 900px;
}

.longTable {
    width: 900px;
}

